/* https://tailwindcss.com/docs/theme */
@theme static {
  --color-accent: light-dark(var(--color-indigo-600), var(--color-indigo-400));

  --color-background-subtle: light-dark(var(--color-zinc-50), var(--color-zinc-900));
  --color-background: light-dark(var(--color-zinc-100), var(--color-zinc-950));

  --color-border: light-dark(var(--color-zinc-300), var(--color-zinc-700));

  --color-foreground-subtle: light-dark(var(--color-zinc-600), var(--color-zinc-400));
  --color-foreground-subtler: light-dark(var(--color-zinc-700), var(--color-zinc-300));
  --color-foreground: light-dark(var(--color-zinc-950), var(--color-zinc-50));

  --font-default: var(--font-sans);

  --radius-default: 0.375rem;

  --spacing-default: 36rem;

  --text-default: 1rem;
}

/* https://github.com/tailwindlabs/tailwindcss-typography#adding-custom-color-themes */
@utility prose-theme {
  --tw-prose-body: var(--color-foreground-subtle);
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-lead: var(--color-foreground-subtle);
  --tw-prose-links: var(--color-foreground);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-accent);
  --tw-prose-bullets: var(--color-accent);
  --tw-prose-hr: var(--color-border);
  --tw-prose-quotes: var(--color-foreground);
  --tw-prose-quote-borders: var(--color-accent);
  --tw-prose-captions: var(--color-foreground-subtle);
  --tw-prose-kbd: var(--color-foreground);
  --tw-prose-kbd-shadows: var(--color-border);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-background);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);
}
