/* https://tailwindcss.com/docs/theme */
@theme static {
  --color-accent: light-dark(var(--color-indigo-600), var(--color-indigo-400));

  --color-background-subtle: light-dark(var(--color-zinc-50), var(--color-zinc-900));
  --color-background: light-dark(var(--color-zinc-100), var(--color-zinc-950));

  --color-border: light-dark(var(--color-zinc-300), var(--color-zinc-700));

  --color-foreground-subtle: light-dark(var(--color-zinc-600), var(--color-zinc-400));
  --color-foreground: light-dark(var(--color-zinc-950), var(--color-zinc-50));

  --font-default: var(--font-sans);

  --radius-default: 0.375rem;

  --spacing-default: 60ch;

  --text-default: 1rem;
}
