/* https://tailwindcss.com/docs/theme */
@theme static {
  --color-accent: light-dark(#8839ef, #cba6f7); /* Latte Mauve / Mocha Mauve */

  --color-background-subtle: light-dark(#e6e9ef, #1e1e2e); /* Latte Base / Mocha Base */
  --color-background: light-dark(#eff1f5, #181825); /* Latte Mantle / Mocha Mantle */

  --color-border: light-dark(#ccd0da, #313244); /* Latte Surface0 / Mocha Surface0 */

  --color-foreground-subtle: light-dark(#6c6f85, #a6adc8); /* Latte Subtext0 / Mocha Subtext0 */
  --color-foreground-subtler: light-dark(#5c5f77, #bac2de); /* Latte Subtext1 / Mocha Subtext1 */
  --color-foreground: light-dark(#4c4f69, #cdd6f4); /* Latte Text / Mocha Text */

  --font-default: var(--font-mono);

  --radius-default: 0rem;

  --spacing-default: 36rem;

  --text-default: 0.875rem;
}

/* https://github.com/tailwindlabs/tailwindcss-typography#adding-custom-color-themes */
@utility prose-theme {
  --tw-prose-body: var(--color-foreground-subtle);
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-lead: var(--color-foreground-subtle);
  --tw-prose-links: var(--color-accent);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-accent);
  --tw-prose-bullets: var(--color-accent);
  --tw-prose-hr: var(--color-border);
  --tw-prose-quotes: var(--color-foreground);
  --tw-prose-quote-borders: var(--color-accent);
  --tw-prose-captions: var(--color-foreground-subtle);
  --tw-prose-kbd: var(--color-foreground);
  --tw-prose-kbd-shadows: var(--color-border);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-background);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);
}
