/* https://tailwindcss.com/docs/theme */
@theme static {
  --color-accent: light-dark(var(--color-neutral-700), var(--color-neutral-300));

  --color-background-subtle: light-dark(var(--color-neutral-200), var(--color-neutral-800));
  --color-background: light-dark(var(--color-neutral-100), var(--color-neutral-900));

  --color-border: light-dark(var(--color-neutral-300), var(--color-neutral-700));

  --color-foreground-subtle: light-dark(var(--color-neutral-600), var(--color-neutral-400));
  --color-foreground: light-dark(var(--color-neutral-950), var(--color-neutral-50));

  --font-default: var(--font-sans);

  --radius-default: 0.25rem;

  --spacing-default: 60ch;

  --text-default: 0.875rem;
}
