/* Spectral-ExtraLight */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-ExtraLightItalic.woff2') format('woff2');
}

/* Spectral-Light */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-LightItalic.woff2') format('woff2');
}

/* Spectral-Regular */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-Italic.woff2') format('woff2');
}

/* Spectral-Medium */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-MediumItalic.woff2') format('woff2');
}

/* Spectral-SemiBold */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-SemiBoldItalic.woff2') format('woff2');
}

/* Spectral-Bold */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-BoldItalic.woff2') format('woff2');
}

/* Spectral-ExtraBold */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/assets/fonts/spectral/Spectral-ExtraBoldItalic.woff2') format('woff2');
}
