@utility touch-hitbox {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 999;
  }
}

@utility inline-only {
  display: none;

  .is-inline & {
    display: contents;
  }
}

@utility page-only {
  display: contents;

  .is-inline & {
    display: none;
  }
}
