---
import { formatDatetime } from '@scripts/formatDatetime';
import { getCollection } from 'astro:content';

export interface Props {
  filter?: string;
}

const { filter } = Astro.props;
let collection = await getCollection('pages', ({ id }) => {
  if (id.endsWith('index')) return false;

  return filter ? id.startsWith(filter.toLowerCase()) : true;
});

collection = collection.sort((a, b) => {
  const dateA = Array.isArray(a.data?.date) ? a.data.date[0] : a.data?.date;
  const dateB = Array.isArray(b.data?.date) ? b.data.date[0] : b.data?.date;

  if (!dateA && !dateB) return 0;
  if (!dateA) return 1;
  if (!dateB) return -1;

  return new Date(dateB).getTime() - new Date(dateA).getTime();
});

if (import.meta.env.PROD) {
  collection = collection.filter((entry) => !entry.data?.draft);
}
---

<ul>
  {
    collection.map((entry) => (
      <li>
        <article>
          <a href={entry.id}>
            <strong>{entry.data.title}</strong>
          </a>
          {entry.data.date && (
            <>
              <br />
              <time>{formatDatetime(entry.data.date)}</time>
            </>
          )}
        </article>
      </li>
    ))
  }
</ul>
