---
import '@styles/tailwind.css';
import Metadata from '@components/Metadata.astro';
import { site } from '../site.config';

export interface Props {
  metadata?: typeof site;
}

const { metadata } = Astro.props;
---

<html class="bg-default">
  <head>
    <Metadata metadata={{ ...site, ...metadata }} />
    <slot name="head" />
  </head>
  <body>
    <div
      id="root"
      class="isolate"
    >
      <slot />
    </div>
  </body>
</html>
