---
import '@styles/tailwind.css';
import Metadata from '@components/PageMeta.astro';
import type { Metadata as MetadataType } from '@components/PageMeta.astro';
import { site } from '../config';
import PageHeader from '@components/PageHeader.astro';
import PageFooter from '@components/PageFooter.astro';

export interface Props {
  metadata?: Partial<MetadataType>;
}

const { metadata } = Astro.props;
---

<html
  class="bg-background text-foreground-subtle print:bg-transparent print:scheme-light"
  lang={site.locale.slice(0, 2)}
>
  <head>
    <Metadata metadata={{ ...site, ...metadata }} />
    <slot name="head" />
  </head>
  <body>
    <div
      id="root"
      class="text-default font-default isolate px-[1.5em]"
    >
      <div
        class="max-w-default mx-auto flex min-h-screen w-full flex-col items-start py-[6em] print:ml-0 print:max-w-none"
      >
        <PageHeader />
        <slot />
        <PageFooter links={site.footer} />
      </div>
    </div>
  </body>
</html>
